* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  height: 100vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-family: "Montserrat", sans-serif;
}

.time-select,
.sound-picker {
  height: 30%;
  display: grid;
  margin-top: 80px;
  justify-content: space-evenly;
  align-items: center;
  flex: 10px;
}
.time-select button,
.sound-picker button {
  color: white;
  width: 110%;
  height: 70%;
  background: none;
  font-size: 15px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid white;
  transition: all 0.5s ease;
}

.sound-picker button {
  border: none;
  height: 100px;
  width: 100px;
  padding: 30px;
  border-radius: 50%;
  display: block;
}
.sound-picker button:nth-child(1) {
  background: #4972a1;
}
.sound-picker button:nth-child(2) {
  background: #a14f49;
}
.sound-picker button img {
  height: 90%;
}

.time-select button:hover {
  background: white;
  color: black;
}

.player-container {
  position: absolute;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  flex: 1;
}

.player-container svg {
  position: absolute;
  height: 30%;
  top: 20%;
  left: 48%;
  transform: translate(-50%, -50%) ;
  pointer-events: none;
}
.player-container svg circle {
  transition: all 0.2s ease-in-out;
}
.time-display {
  color: white;
  position: absolute;
  font-size: 30px;
  bottom: 5%;
}

video {
  position: absolute;
  top: 0%;
  left: 0%;
  display: inline-block;
  z-index: -10;
}

.play {
height: 80px;
top: 20px;
margin-top: -10px;
}


.replay {
  height: 30px;
  margin-top: 250px;
  }


  @media only screen and (min-width: 1000px) {
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    
    .app {
      height: 100vh;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      font-family: "Montserrat", sans-serif;
    }
    
    .time-select,
    .sound-picker {
      height: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      flex: 1;
    }
    .time-select button,
    .sound-picker button {
      color: white;
      width: 30%;
      height: 10%;
      background: none;
      font-size: 20px;
      border-radius: 5px;
      cursor: pointer;
      border: 2px solid white;
      transition: all 0.5s ease;
    }
    
    .sound-picker button {
      border: none;
      height: 120px;
      width: 120px;
      padding: 30px;
      border-radius: 50%;
    }
    .sound-picker button:nth-child(1) {
      background: #4972a1;
    }
    .sound-picker button:nth-child(2) {
      background: #a14f49;
    }
    .sound-picker button img {
      height: 100%;
    }
    
    .time-select button:hover {
      background: white;
      color: black;
    }
    
    .player-container {
      position: absolute;
      height: 80%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      flex: 1;
    }
    
    .player-container svg {
      position: absolute;
      height: 50%;
      top: 35%;
      left: 50%;
      transform: translate(-50%, -50%) ;
      pointer-events: none;
    }
    .player-container svg circle {
      transition: all 0.2s ease-in-out;
    }
    .time-display {
      color: white;
      position: absolute;
      font-size: 50px;
      bottom: 10%;
    }
    
    video {
      position: fixed;
      top: 0%;
      left: 0%;
      width: 100%;
      z-index: -10;
    }

    .play {
      height: 100px;
    }
    
    .replay {
      margin-top: -30px;
    }

  }