<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Executive Coaching</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,900" rel="stylesheet">
    <link rel="stylesheet" href="fonts/icomoon/style.css">
       
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/icomoon/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery-ui.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.carousel.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/owl.theme.default.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/jquery.fancybox.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/aos.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='fonts/flaticon/font/flaticon.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='jquery-1.9.1.min.js') }}">

    
  </head>
  <body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
  
  <div class="site-wrap">

    <div class="site-mobile-menu site-navbar-target">
      <div class="site-mobile-menu-header">
        <div class="site-mobile-menu-close mt-3">
          <span class="icon-close2 js-menu-toggle"></span>
        </div>
      </div>
      <div class="site-mobile-menu-body"></div>
    </div>
   
    
    <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

      <div class="container">
        <div class="row align-items-center">
          
          <div class="col-6 col-xl-2">
            <h1 class="mb-0 site-logo"><a href="/" class="h2 mb-0">Coach&nbsp;Malay</span> <span class="text-primary"></span> </a></h1>
          </div>

          <div class="col-12 col-md-10 d-none d-xl-block">
            <nav class="site-navigation position-relative text-right" role="navigation">

              <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block">
                <li><a href="/#home-section" class="nav-link">Home</a></li>
                <!-- <li><a href="/meditate" class="nav-link">Meditate</a></li> -->
                <li><a href="/#about-section" class="nav-link">About</a></li>
                <li><a href="/#services-section" class="nav-link">Services</a></li>
                <li><a href="/#contact-section" class="nav-link">Contact</a></li>
              </ul>
            </nav>
          </div>


          <div class="col-6 d-inline-block d-xl-none ml-md-0 py-3" style="position: relative; top: 3px;"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

        </div>
      </div>
      
    </header>

  
     
    <div class="site-blocks-cover inner-page-cover overlay" style="background-image: url(/static/images/mentall.jpg);" data-aos="fade" id="home-section">
      <div class="container">
        <div class="row">

          <div class="col-md-6 mt-lg-5 mr-auto text-left align-self-end align-self-md-center">
            <h20>What is Executive Coaching?</h20>
          </div>
            
        </div>
      </div>
    </div>  

    <div class="site-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <p>
              Executive coaching sessions designed for every potential employee of firms. Companies seeking to develop the skills of their professionals at every level find greater benefits with professional coaching sessions. 
              People who have had executive coaches in their professional career have reported feeling empowered and motivated to achieve their goals, find success, and develop a balanced approach to life.
              More and more people are striving to tap their potential and embark on a successful career sans the stress.
              If you are a company or an individual seeking world-class executive coaching sessions, we’ve got the right programs for you.   
              <br>
              <br>
              Executive coaches help Senior Management, Apex team, Middle Management, C-Suite, VPs, and executives to set and achieve their goals - short term as well as long term.
              They are trained to manage teams better, show excellent leadership skills, great communication skills, and an increase in productivity.
              The Executive Coaching programs are focussed in bringing a behavioral change in the people that allow professionals to achieve a company’s goals with ease.
            </p>
            <br>
            <h3>Executive Coaching is inclusive of the following:</h3>

                                        <li>Career Transition</li>
                                        <li>Interpersonal Relationship Management </li>
                                        <li>External Relationship Management</li>
                                        <li>Performance Management</li>
                                        <li>Communication Skills</li>
                                        <li>Career Management</li>
                                        <li>Corporate Presence</li>
                                        <li>Strategic Thinking</li>
                                        <li>Team Management</li>

                                        <br>
                                        <br>
                                        
                                       <h3> Outcomes of the Executive Coaching Program:</h3>
                                        <li>Explore concern areas as well as suitable opportunities for the required outcomes client</li>
                                        <li>Set and achieve goals or devise new ones</li>
                                        <li>Understand the priorities and take decisive actions on important things</li>
                                        <li>Be accountable for all commitments</li>
                                        <li>Excellent strategy skills - create effective plans with a focus on required results</li>
                                        <li>Maximize potential within individuals for their personal and professional life</li>
                                 
            <p class="mt-5"><a href="/#contact-section" class="btn btn-primary">Get In Touch</a></p>
          </div>
          <!-- <div class="col-lg-4 ml-auto">
            <img src="" alt="Image" class="img-fluid">
          </div> -->
        </div>
      </div>
    </div>

    
    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-5">

              </div>
              <div class="col-md-3 ml-auto">
                <h2 class="footer-heading mb-4">Quick Links</h2>
                <ul class="list-unstyled">
                  <li><a href="/#about-section">About Us</a></li>
                  <li><a href="/#services-section">Services</a></li>
                  <li><a href="/#contact-section">Contact Us</a></li>
                </ul>
              </div>
              <div class="col-md-3">
                <h2 class="footer-heading mb-4">Follow Us</h2>
                <a href="#" class="pl-0 pr-3"><span class="icon-facebook"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-twitter"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-instagram"></span></a>
                <a href="#" class="pl-3 pr-3"><span class="icon-linkedin"></span></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row pt-5 mt-5 text-center">
          <div class="col-md-12">
            <div class="border-top pt-5">
            <p>
      </p>
            </div>
          </div>
          
        </div>
      </div>
    </footer>

  </div>


  <script src="{{ url_for('static', filename='js/jquery-3.3.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-migrate-3.0.1.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery-ui.js') }}"></script>
  <script src="{{ url_for('static', filename='js/popper.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/owl.carousel.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.stellar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
  <script src="{{ url_for('static', filename='js/aos.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.fancybox.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/jquery.sticky.js') }}"></script>
  <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    
    
  </body>
</html>